body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    
    background-color: white;
    border: solid white 0.1px;
    
    
}.hero{
    background-color: white;
    height: 100vh;
   
   
    color: #1c1d25;
    font-size: 30px;
}

footer{
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 80px;
}

ul{
    display: flex;
    list-style-type: none;
    width: 400px;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-around;
}
ul.show{
    display: block;
}.a1{
    text-decoration: none;
    color: black;
}.a1:hover{
    text-decoration: none;
    color: black;
}
li{
    /*width: 150px;*/
    text-decoration: none;
    
}
li a {
    display: block;
    color: black;
    
    padding: 16px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */

h1{
    font-size: 70px;
    margin: 0;
}

p{
    margin: 0;
    font-weight: 300;
    font-size: 50px;
    
}
.text-Area{
    display: flex;
    align-items: center;
    height: 100%;
    
    justify-content: space-between;
}
.hero-text{
margin-left: 80px;
margin-bottom: 200px;
}
.button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    margin-top: 60px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
  }
  .button1:hover{
      background-color: #1c1d25;
      color: white;
  }
  .button1 a{
      text-decoration: none;
      
  }
  .socials{
      padding-bottom: 200px;
  }
  .logo{
      height: 80px;
      margin: 10px;
      background-color:transparent;
      color: white;
      text-decoration: none;
  }
  nav{
      display:flex;
      justify-content: space-between;
      
  }
  .social{
      margin: 10px;
  }
  .sub-section{
      display: flex;
      justify-content: space-between;
     padding-top: 100px;
      padding-left: 80px;
     
      padding-bottom: 100px;
    }.section2{
     font-weight: 200;
      font-size: 20px;
    
  }
  h2{
      font-size: 50px;
  }.headshot{
      width: 200px;
      height: 200px;
      padding-right: 150px;
  }.HeadShot{
   
      display: flex;
      align-items: center;
  }a{
      text-decoration: none;
      color: black;
  }a:hover{
      text-decoration: none;
      color: white;
      
  }
  .project-card{
      width: 250px;
      height: 350px;
      margin: 10px;
    box-shadow: 5px 5px 20px rgb(197,195,195);
  }.project-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .sub-section-alternative{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 50px;
      
      align-items: center;
      
  }
  
   .footerh2{
      font-size: 30px;
      font-weight: 600;

  }.footerpara{
    font-size: 20px;
    font-weight: 200;
    
  } .socials2{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}.social2{
    margin: 15px;
    
}.copyright{
    font-size: 15px;
    margin-top: 20px;
}footer a{
    color:#FDA403;
    font-weight: 100;
    text-decoration: none;
}.button2{
    width: 200px;
    height: 40px;
    margin-top: 60px;
    text-align: center;
    border: solid black 1px;
    border-radius: 15px;
    display: flex;
    justify-content:center ;
    padding-top: 5px;
    font-size: 30px;
    
    color: black;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition-duration: 0.6s;
} .button2:hover {
    background-color: black; /* Green */
    color: white;
  } .subtext{
     font-size: 13px;
     font-weight: 300;
  }
  @media screen and (max-width:1000px){
    .headshot{
        width: 350px;
        height: 350px;
        padding-right: 60px;
    }
    .button1{
      
        
        
        padding: 15px 32px;
        text-align: center;
        
       
        font-size: 50px;
    }
    
          .project-container{
              display: flex;
              flex-wrap: wrap;
              
              
          }
          .section2{
            font-weight: 400;
             font-size: 40px;
             
           
         }
         h2{
             font-size: 100px;
         }
          h1{
            font-size: 150px;
            margin: 0;
        }
        h3{
            font-size: 30px;
        }
        .subtext{
            font-size: 25px;
           text-align:center;
        }
          .project-card{
            width: 320px;
            height: 550px;
            margin: 10px;
            padding: 25px;
          box-shadow: 5px 5px 20px rgb(197,195,195);
        }
        .text-Area{
            display: flex;
            align-items: center;
            height: 100%;
            
            justify-content: space-between;
        }
        .sub-section{
            display: flex;
            justify-content: space-between;
           padding-top: 400px;
            padding-left: 80px;
           
            padding-bottom: 100px;
          }
        .hero{
            background-color: white;
            height: 80vh;
           
           
            color: #1c1d25;
            font-size: 60px;
        }
        
      .project-img{
          width: 150px;
          margin-top: 20px;
          border-radius: 125px;
    
      }hr{
          margin-left: 20px;
          margin-right: 20px;
         
      }.hamburger{
       display: none;
       
      }.hamburger:focus{
          outline: 0;
      }
    
  }
  .project-img{
      width: 100px;
      margin-top: 20px;
      border-radius: 125px;

  }hr{
      margin-left: 20px;
      margin-right: 20px;
     
  }.hamburger{
   display: none;
   
  }.hamburger:focus{
      outline: 0;
  }
  @media screen and (max-width:1000px){
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: black;
        font-size: 67px;
        
        margin: 20px;
        align-self: flex-end;
     }
     .a1{
         font-size: 30px;
     }
     ul{
         display: none;
         background-color: white;
         margin: 0px;
         font-size: 30px;
     }
     nav{
         align-items: flex;
         flex-direction: column-reverse;
     }
}